langchain==0.3.14
langchain_community==0.3.2
langchain_core==0.3.30
langchain_openai==0.3.1
pinecone-client==5.0.1
python-dotenv==1.0.1
streamlit==1.39.0
chromadb==0.5.15
chroma-hnswlib==0.7.6
pydantic==2.9.2
scikit-learn==1.5.1
langchain_experimental==0.3.3
sqlite3==3.48.0
